body {
    margin: 0;
    padding: 0;
    background-color: #cfcaca;
    }


header{
    height: 1000px;
    background-image: url(../images/header.jpg);
    background-color: #1a1a1d;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header h1{
    padding:30px;
    font-size: 75px;
    color: #ffffff;
}
.nav-con{
    height:400px;
    width: 200px;
    margin-left:30px;
    
    
}
.nav-list{
    list-style: none;
    padding: 20px;

}

.nav-list li{
    display: flex;
    flex-direction: column; 
    border: 2px solid #ffffff;
    border-radius: 25%;
    background: #82828b;
    margin: 25px 0;
}

.nav-list a{
text-align: center;    
color: #ffffff;
font-size: 20px;

}

h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    border-bottom: 2px solid #242424;
    border-top:  2px solid #242424;
    box-shadow: inset 5px 0 5px 0;
    background-color: #53576b;
}

.card{
    box-shadow: 10px 10px;
    margin:25px 0;
}

.contact{
   
    height: 500px;
    background-image: url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    padding: 30px;
}
.contact-container{
    width:150px;
    background: #ffffff;
    padding:10px;
    margin: 0 auto;
    border: 3px solid #000000;
    border-radius: 10px;
}

.image-container{
    
    display: inline;
    margin: 0 auto;
}

.image-container a{
    display: inline;
}