body {
    background-image: url(../images/header.jpg);
    background-color: #1a1a1d;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
}

.bodyContainer{
    width: 85%;
    margin: 0 auto;
    background-color: #8c8c8fa8;
    border-radius: 15px;
}


header{
    height: 1000px;
    background-image: url(../images/header.jpg);
    background-color: #1a1a1d;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header h1{
    padding-left: 30px;
    padding-top: 30px;
    font-size: 75px;
    color: #ffffff;
}
header h2{
    padding-left: 30px;
    color: #ffffff;
}

h3{
    width:90%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 10px auto;
    border-bottom: 2px solid #242424;
    border-top:  2px solid #242424;
    box-shadow: inset 5px 0 5px 0;
    background-color: #53576b;
    border-radius: 15px;
}
h4{
    text-align: center;
    color: rgb(84, 155, 177);
}

.skills{
    background-color: #2e2e30d2;
    width:100%;
    padding: 5px;
    border: 3px solid #000000;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.language{
    width:400px;
   
   
}

.language input {
    background-color: #ffffff;
    
    border: 2px double #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 7px;
}

.language input:hover{
    background: #53576b2f;
    box-shadow: inset 3px 3px ;
}

.langTop{
    
    margin: 0 auto;

}
.langTop input{
    height: 200px;
    width: 400px;
   
}

.langBottom{
   width: 400px;
   margin: 10px 0;

   
}

.langBottom input{
    height: 150px;
    width: 150px;
    margin-left:27px;
}

.GS{
    width: 400px;
    border: 2px double #000000;
    border-radius: 15px;
    background: #e2e0e0c9;
    margin-left: 25px;
    margin-top: 25px;
    box-shadow: 5px 5px 7px;
}

.GS li{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30pt;
}


.card{
    box-shadow: 5px 5px 7px;
}

.contact{
   
    height: 500px;
    background-image: url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    padding: 30px;
}
.contact-container{
    width:135px;
    background: #4e4c4cd5;
    padding:10px;
    margin: 0 auto;
    border: 3px solid #000000;
    border-radius: 10px;
}

.image-container{
    
    display: inline;
    margin: 0 auto;
}

.image-container img{
    height: 30;
    width: 30;
    border:1px solid #000000;
}